* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #ffffff;
  font-family: sans-serif;
}

/* Positioning the navbar */
.navbar {
  position: absolute; /* so we can place it top-right */
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-color: #dfb868;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  padding: 0 15px;
  gap: 10px;
}

/* Input field style */
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #000;
}

.hero-container {
    flex: auto;
    height: 60%;
    width: 70%;
    background-color: aqua;
}